@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <img class="image-responsive"
         src="https://nunit.org/img/dotnetfoundation.png"
         height="200em">
    <p>The time on the server is @DateTime.Now</p>
</div>
